imageio
yacs
joblib
matplotlib
iopath
termcolor
opencv-python==4.10.0.84
pandas
pycocotools
scikit-image==0.19.1
scikit-learn==1.1.1
scipy==1.7.3
Shapely==1.8.0
SimpleITK
simplejson
timm
evalutils==0.4.2
psutil

