numpy==1.22.0
yacs==0.1.8
joblib==1.1.0
matplotlib==3.5.1
iopath==0.1.9
termcolor==1.1.0
opencv-python==4.10.0.84
pycocotools
scikit-image==0.19.1
scikit-learn==1.1.1
scipy==1.7.3
Shapely==1.8.0
SimpleITK==2.3.1
simplejson==3.17.6
timm==0.4.12
evalutils==0.4.2
psutil==5.9.1
absl-py==1.0.0
pandas
imageio
pytorchvideo